.container{
    background-color: bisque;
    height:400px;
    display:flex;
    flex-direction: row;
    /* justify-content: center;
    align-items:center; */
    /* flex-wrap: wrap; */
    gap: 10px;
}

.box{
    height: 100px;
    width: 100px;
    /* margin:5px; */
}
.first{
    background-color: chartreuse;
    flex-grow: 2;
    flex-shrink: 4;  
}
.second{
    background-color: darkgreen;
}
.third{
    background-color: darkolivegreen;
    align-self: start;
}
.four{
    background-color:chocolate;
}